.container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.container button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
}

.container button:hover {
  background-color: rgba(159, 159, 159, 1);

}
.container p {
  margin: auto 10px;
  color: rgba(82, 82, 82, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.icon {
  font-size: 40px;
  color: rgb(255, 255, 255);
}